<section class="advantages">
  <div class="container">
    <div class="title_group" data-kui-anim="fadeIn" data-kui-event="bottom">
      <h2 class="title">Advantages</h2>
      <p class="sub_title">which makes us different with others</p>
    </div>

    <div class="row" data-kui-anim="fadeIn">
      <div class="five columns">
        <%= image_tag('ruby.png') %>
      </div>
      <div class="seven columns">
        <div class="detail" style="text-align:left;">
          <p class="title">Value</p>
          <ul>
            <li>Always focus critical feature</li>
            <li>Continuous delivery</li>
            <li>truly agile environment</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" data-kui-anim="fadeIn">
      <div class="five columns">
        <%= image_tag('money.png') %>
      </div>
      <div class="seven columns">
        <div class="detail" style="text-align:left;">
          <p class="title">Support</p>
          <ul>
            <li>timely responding at any time</li>
            <li>two weeks free support after launch</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" data-kui-anim="fadeIn">
      <div class="five columns">
        <%= image_tag('rocket.png') %>
      </div>
      <div class="seven columns">
        <div class="detail" style="text-align:left;">
          <p class="title">Productive</p>
          <ul>
            <li>high-efficiency communication</li>
            <li>flexible working time</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" data-kui-anim="fadeIn">
      <div class="five columns">
        <%= image_tag('medal.png') %>
      </div>
      <div class="seven columns">
        <div class="detail" style="text-align:left;">
          <p class="title">Pricing</p>
          <ul>
            <li>reasonable fee </li>
            <li>secured transactions</li>
            <li>double compensation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
