<section class="consultants">
  <div class="container">
    <div class="title_group" data-kui-anim="fadeIn" data-kui-event="bottom">
      <h2 class="title">Consultant</h2>
      <p class="sub_title">professional, responsible, ommunicatable and trustworthy</p>
    </div>
    <%= image_tag('json.jpg', size: '250x250', data: { "kui-anim": "fadeIn" }) %>
    <div class="description" data-kui-anim="fadeIn" data-kui-event="bottom">
      <h2 class="consultant_name">Jason Xia</h2>
      <p class="role">Lead Consultant</p>
      <p class="resume"> Hands-on information technology leader with 15+ years of experience and a proven track record of architecting and delivering reliable and scalable systems in a variety of areas, such as internet/e-commerce, financial systems etc.</p>
    </div><!-- description -->
  </div>
</section>
